@import "../../styles/variables.scss";

.container {
  width: 80%;
  margin: 0 auto;
  padding: $xl-space 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: $m-space;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.error {
  font-size: 18px;
}
