@import "../../styles/variables.scss";

.container {
  width: 80%;
  margin: 0 auto;
  padding: $xl-space 0;
}

.photo {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $l-space;
}

.details {
  display: grid;
  gap: $m-space;
}

.icon {
  width: 30px;
  height: 30px;

  &:hover {
    opacity: 0.8;
  }
}

.field {
  display: flex;
  gap: $s-space;
  align-items: center;
}

.info {
  font-size: 18px;
}

@media screen and (max-width: $bp-tablet) {
  .photo {
    width: 400px;
    height: 400px;
  }

  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: $bp-mobile) {
  .photo {
    width: 200px;
    height: 200px;
  }

  .info {
    font-size: 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
